<div class="container" >
  <div class="header">
      Bit-Explode
  </div>
  <div class="flow" *ngIf="game" #container>
    <div class="content">
      <ion-text *ngIf="game.data && game.data.encryptedData">
        gameHash : {{game.data.encryptedData}}
      </ion-text>
      <ion-text>
        Stake : {{game.stake}}
      </ion-text>
      <ion-text>
        clicks : {{game.userClick}}
      </ion-text>
    </div>
    <div class="main-div">
      <div class="click" *ngFor="let col of colClick">
        <ion-text *ngIf="col.col">
          You found {{col.col.value}} in {{col.indexRow}}-{{col.indexCol}}
        </ion-text>
        <ion-text *ngIf="!col.col">
          You found Mine in {{col.indexRow}}-{{col.indexCol}}
        </ion-text>
        <div class="lose" *ngIf="col.data">
          <ion-text class="lose-text" *ngIf="!col.col">You Lost this game</ion-text>
          <ion-text class="lose-text" *ngIf="col.col">You Won this game</ion-text>
          <ion-text class="lose-text">Decrypted Data : {{col.mines}}</ion-text>
          <ion-text class="lose-text">Algorithm : {{col.data.algorithm}}</ion-text>
          <ion-text class="lose-text">Key: {{col.data.key}}</ion-text>
          <ion-text class="lose-text">IV: {{col.data.iv}}</ion-text>
        </div>
      </div>
    </div>
  </div>
  </div>