

.container {
  float:right;
  width:100%; 
  padding:3px; 
  background-color: #283136;
  text-align: center;
  border-radius: 15px;
}
  .content {
    margin-top: 10px;
    color:white;
    text-align: left;
    font-weight: bold;
    background-color: #283136;
  }

  .clicks {
    color:white;
    text-align: left;
    font-weight: bold;
    background-color: #283136;
  }

  .lose {
    display: block;
  }

  .lose-text{
    display: block;
  }
  
  .flow {
    overflow: auto;
    height: 61%;
    width: 100%;
    color: white;
    max-height: 61%;
    background-color: #283136;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:#283136; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  .flip-card {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      --background: white;
      position: relative;
      text-align: center;
      transition: transform 0.5s;
      transform-style: preserve-3d;
      transform: rotateY(180deg);
      display: inline-block;
      margin-left: 5px;
      width: 13px;
      height: 13px;
    }
  
    .main-div{
      display: block;
      text-align: left;
      margin-top: 3px;
    }
  
  
    
  .flip-card-clicked {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      transform: rotate(360deg);
      transition: transform 0.5s linear;
      position: relative;
      display: inline-block;
      margin-left: 5px;
      text-align: center;
      width: 13px;
      height: 13px;
    
    }
  
  
  .red {
      --background: red !important;
      --color: white;
      font-size: 5px;
    }
  
    
  .green {
      --background: linear-gradient(270deg,#0EFB3E, #1CC050) !important;
      --color: white;
      font-size: 5px;
    }
  
  
  
  .header {
      text-align: left;
      color:white;
  }

  @media only screen and (min-width: 600px) {
    .container {

      height: 285px;
      min-height: 25%;
      max-height: 25%;

    }
    
  
  }

  @media only screen and (max-width: 600px) {
    .container {
      height: 250px;
      min-height: 25%;
      max-height: 25%;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .container {

      height: 285px;
    min-height: 76%;
    max-height: 76%;

    }
    
  
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .container {

      height: 285px;
    min-height: 46%;
    max-height: 46%;

    }
    
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .container {

      height: 254px;
    min-height: 49%;
    max-height: 49%;

    }

    @media only screen and (min-width: 1278px) {
      .container {
        height: 257px;
        min-height: 44%;
        max-height: 44%;
  
      }
  }
}

  
    