ion-content {
    background: #152620;
    --background: #152620;
}


.title {
    text-align: center;
    color: #0275d8;
    font-size: 42px;
    font-weight: bold;
    height: 120px;
}

.form {
    width: 100%;
    color:white;
}

ion-select {
    background-color: white;
    color: black;
    border-radius: 15px;
    margin-bottom: 30px;
}

ion-select-popover {
    background-color: white;
    color: black;
    border-radius: 15px;
    margin-bottom: 30px;
}

ion-textarea {
    --background: white;
    color: black;
    --border-radius: 15px;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 30px;


}

ion-item {
    border-bottom: none;
}

.label-form {
    color: white;
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
    margin-left: 5px;
}

.button {
    --background:white;
    color:#152620;
    font-weight: bold;
    
}