<form [formGroup]="compliantForm" (ngSubmit)="compliantForm">
  <div class="password">
    <ion-select formControlName="type" placeHolder="type" interface="popover">
      <ion-select-option value="nes">NES</ion-select-option>
      <ion-select-option value="n64">Nintendo64</ion-select-option>
      <ion-select-option value="ps">PlayStation</ion-select-option>
      <ion-select-option value="genesis">Sega Genesis</ion-select-option>
      <ion-select-option value="saturn">Sega Saturn</ion-select-option>
      <ion-select-option value="snes">SNES</ion-select-option>
    </ion-select>
    <ion-label class="label-error" *ngIf="formErrors && formErrors.password">*{{formErrors.password}}</ion-label>
  </div>
  <div class="password">
    <ion-input formControlName="description" placeHolder="description"></ion-input>
    <ion-label class="label-error" *ngIf="formErrors && formErrors.confirmPassword">*{{formErrors.confirmPassword}}
    </ion-label>
  </div>
</form>