ion-content {
    background: #152620;
    --background: #152620;
}


.title {
    text-align: center;
    color: #0275d8;
    font-size: 42px;
    font-weight: bold;
    height: 150px;
}

.form {
    width: 100%;
    color:white;
}

ion-select {
    background-color: white;
    color: black;
    border-radius: 15px;
    margin-bottom: 30px;
}

ion-textarea {
    --background: white;
    color: black;
    --border-radius: 15px;
    border-radius: 15px;
    padding: 10px;
    

}