<ion-footer class="footer">
  <div class="container-fluid">
          <ul>

              <li>
                  <a (click)="goTo('home')">
                      Bit Explode
                  </a>
              </li>
              <li>
                  <a >
                     Blog
                  </a>
              </li>
              <li>
                  <a >
                      Licenses
                  </a>
              </li>
            </ul>
            
            <ul *ngIf="gameHash">
              <li>
                  <a (click)="goTo('complaints')">
                      Complaints
                  </a>
              </li>
              <li>
                  <a >
                     Withdraws
                  </a>
              </li>
              <li>
                  <a >
                      Deposits
                  </a>
              </li>
              <li>
                <a >
                    Feedback
                </a>
            </li>
            </ul>
            <ul *ngIf="gameHash">
              <li>
                  <a (click)="makeComplaint()">
                      Make a Complaint
                  </a>
              </li>
              <li>
                  <a >
                     Give Us Feedback
                  </a>
              </li>
            </ul>
      <div class="pull-right">
          &copy; {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by <a>Bit Explode</a>
      </div>
  </div>
</ion-footer>
