a {
    color:white  !important;
}

li {
    color:white  !important;
    display: inline-block;
    margin-left: 42px;
}

ul {
    color:white  !important;
    display: inline-block;
}

.pull-right {
    display: inline-block;
    width: 100%;
    text-align: center;
    color:gray;
}
