a {
    color:white  !important;
}

li {
    color:white  !important;
    display: inline-block;
    margin-left: 15px;
}

ul {
    color:white  !important;
    display: inline-block;
    padding: 3px;
}

.pull-right {
    display: inline-block;
    width: 100%;
    text-align: center;
    color:gray;
}

li:first-child {
    margin-left: 0px;
}
