.segment-header {
    color:white;
    margin-left: 15px;
    font-size: 12px;
  }

  .balance {
    --background:gray;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  
  .balance ion-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 20px;
  }