ion-header {
    height: 150px;
    color:white;
    --background: linear-gradient(90deg,#152620, #151A1E);
  background: linear-gradient(90deg,#152620, #151A1E);
  }
  ion-toolbar {
    color:white;
    --background: linear-gradient(90deg,#152620, #151A1E);
  background: linear-gradient(90deg,#152620, #151A1E);
  }

  ion-content {
    --background: linear-gradient(90deg,#152620, #151A1E);
    background: linear-gradient(90deg,#152620, #151A1E);
  }

  .n-complaint{
      width: 100%;
      text-align: center;
      color: white;
      font-size: 31px;
      font-weight: bold;
  }