<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" >
        <div class='header'>
          <ion-title>
            Login
          </ion-title>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" size-md="8" offset-md="2">
          <div  class="password">
            <ion-input [(ngModel)]="password" [disabled]='!passwordChanged' placeHolder="Password"
            ></ion-input>
            <!--<ion-label class="label-error" *ngIf="formErrors && formErrors.password">*{{formErrors.password}}</ion-label>-->
          </div>       
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" size-md="6" offset-md="3" offset="1">
        <ion-button shape="round" expand="full" color="success" [disabled]="password.length < 6 && (passwordChanged == false || !submitted)" (click)="login()">
          <ion-text *ngIf="!submitted">LOGIN</ion-text>
          <ion-spinner name="bubbles" *ngIf="submitted"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>