<ion-row *ngFor="let row of [0,1,2,3,4];let indexRow = index"  >
  <ion-col  size="18" size-lg="12" offset-lg="4" >
    <ion-item class="flip-card" lines="none"  *ngFor="let col of [0,1,2,3,4];let indexCol = index" [ngClass]='col.clicked ? "flip-card-clicked " + col.color : "flip-card" + col.color' (click)="clickCol(col)">
          <ion-text *ngIf="col.clicked && col.value != 0" class="mine-value">{{col.value}}</ion-text>
          <ion-icon *ngIf="col.clicked && col.value == 0" src="../../../../assets/imgs/bombe.svg"></ion-icon>
    </ion-item>
  </ion-col>
  </ion-row>
  <ion-row *ngIf="game">
    <ion-col size-md="6"  size-lg="4" size="6" offset-lg="4">
      <ion-input [(ngModel)]='game.stake' type="number"  [min]="100" (input)='stakValidation($event.target.value)' [disabled]='game.playing'

      ></ion-input>
    </ion-col>
    <ion-col size-md="3"  size-lg="2" size="3">
      <ion-button  class="button-operation" expand="full" (click)="addOne()" [disabled]='game.playing'>
        <ion-icon name="add-circle-outline"></ion-icon>                    
      </ion-button>
    </ion-col>
    <ion-col size-md="3" size-lg="2" size="3" offset-sm="3" offset-md="0">
      <ion-button  class="button-operation" expand="full" (click)="multiply()" [disabled]='game.playing'>
        <ion-icon src="../../assets/imgs/unchecked.svg"></ion-icon>
        <ion-text>2</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>

  