<div *ngIf="map" class="container">
<div *ngFor="let row of map;let indexRow = index"  class="row" >
  <div  class="col"  >
    <div class="flip-card" lines="none"  *ngFor="let col of row;let indexCol = index" [ngClass]='col.clicked ? "flip-card-clicked " + col.color : "flip-card" + col.color' (click)="clickCol(col,indexRow,indexCol)">
          <ion-text *ngIf="col.clicked && col.value != 0" class="mine-value">{{col.value}}</ion-text>
          <div class="spin"><ion-icon *ngIf="col.clicked && col.value == 0" src="../../../../assets/imgs/bombe.svg"></ion-icon></div>
          <div class="spin" *ngIf="col.submitted"><ion-spinner name="bubbles" ></ion-spinner></div>
    </div>
  </div>
</div>
  <div *ngIf="game" class="row">
    <div  id="stake">
      <ion-input [(ngModel)]='game.stake' type="number"  [min]="100" (input)='stakValidation($event.target.value)' (keypress)="inputChar($event)" [disabled]='game.playing'
      ></ion-input>
    </div>
    <div id='add'>
      <ion-button  class="button-operation" expand="full" (click)="addOne()" [disabled]='game.playing'>
        <ion-icon name="add-circle-outline"></ion-icon>                    
      </ion-button>
    </div>
    <div id='multiply'>
      <ion-button  class="button-operation" expand="full" (click)="multiply()" [disabled]='game.playing'>
        <ion-icon src="../../assets/imgs/unchecked.svg"></ion-icon>
        <ion-text>2</ion-text>
      </ion-button>
    </div>
  </div>
</div>

  