
.container {
  height: 70%;
}

.flip-card {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background: white;
    position: relative;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    display: inline-block;
    margin-left: 6px;
    border-radius: 8px;
    width: 17%;
    height: 47px;
  }


  .flip-card:first-child {
    margin-left: 0px;
  }
  
.flip-card-clicked {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: rotate(360deg);
    transition: transform 0.5s linear;
    position: relative;
    display: inline-block;
    margin-left: 6px;
    border-radius: 8px;
    text-align: center;
    width: 17%;
    height: 47px;
  }

  .flip-card-clicked:first-child {
    margin-left: 0px;
  }


.red {
    background: red !important;
    color: white;
    font-size: 15px;
  }

  
.green {
  background: linear-gradient(270deg,#0EFB3E, #1CC050) !important;
    color: white;
    font-size: 15px;
  }

.mine-value {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.button-operation{
  --padding-bottom: 15px;
  --padding-end: 15px;
  --padding-start: 15px;
  --padding-top: 21%;
  /* --border-radius: 39px; */
  --border-radius: 150px;
  font-size: 15px;
  --background: white;
  --color: black;
  height: 50px;
  }
  
.button-operation:last-child {
  --padding-bottom: 15px;
  --padding-end: 15px;
  --padding-start: 15px;
  --padding-top: 21%;
  /* --border-radius: 39px; */
  --border-radius: 150px;
  font-size: 15px;
  --background: white;
  --color: black;
  height: 50px;
  }
  
.button-operation:last-child ion-icon {
    font-size: 10px;
  }


ion-input {
    --background: gray;
    --color: white;
    text-align: center;
    --padding-bottom: 12px;
    --padding-end: 12px;
    --padding-start: 12px;
    --padding-top: 12px;
    border-radius: 5px;
    vertical-align: middle;
    margin-top: 4px;
    height: 50px;
  }

ion-input[type=number]::-webkit-inner-spin-button,
ion-input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
margin: 0;
}


.row {
  width: 100%;
  display: block;
}




#stake {
  vertical-align: middle;
  width: 52%;
  display: inline-block;
}

#add {
  vertical-align: middle;
  margin-top: 4px;
  width: 21%;
  display: inline-block;
  margin-left: 7px;
}

#multiply {
  vertical-align: middle;
  margin-top: 4px;
  width: 21%;
  display: inline-block;
  margin-left: 7px;
}


@media only screen and (min-width: 768px) {
  .flip-card {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background: white;
    position: relative;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    display: inline-block;
    margin-left: 6px;
    border-radius: 8px;
    width: 18%;
    height: 60px;
  }
  .flip-card-clicked {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: rotate(360deg);
    transition: transform 0.5s linear;
    position: relative;
    display: inline-block;
    margin-left: 6px;
    border-radius: 8px;
    text-align: center;
    width: 18%;
    height: 60px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .flip-card {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background: white;
    position: relative;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    display: inline-block;
    margin-left: 6px;
    border-radius: 8px;
    width: 17%;
    height: 47px;
  }
  .flip-card-clicked {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: rotate(360deg);
    transition: transform 0.5s linear;
    position: relative;
    display: inline-block;
    margin-left: 6px;
    border-radius: 8px;
    text-align: center;
    width: 17%;
    height: 47px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .flip-card {
    
    height: 60px;
  }
  .flip-card-clicked {
    
    height: 60px;
  }
}
  