ion-header {
    height: 200px;
    background:wheat;
  }
  ion-toolbar {
    --background:wheat;
}

#button-header-play {
    color:green;
    font-size:18px;
    --background:white;
    --border-radius:15px;
    --padding-bottom:23px;
    --padding-top:23px;
    --padding-end:23px;
    --padding-start:23px;	
  }
  
  #button-header-help {
    color:white;
    font-size:18px;
    --border-radius:15px;
    --border-radius:15px;
    --padding-bottom:23px;
    --padding-top:23px;
    --padding-end:23px;
    --padding-start:23px;
  }