<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="type == 'modal'" >
      <ion-button fill="clear" (click)="close()" >
        <ion-icon name="close" *ngIf="!platform.is('ios')"></ion-icon>
        <ion-text *ngIf="platform.is('ios')" id="close-ios">Close</ion-text>
      </ion-button>
    </ion-buttons>
    <ion-title slot="start">
      BitExplode {{currentLink | uppercase}}
    </ion-title>
    <ion-buttons slot="end" *ngIf="currentLink != 'deposit'">
      <ion-button  id="button-header-play" size="large">
        Play   
      </ion-button>
      <ion-button   id="button-header-help" size="large">
        Help
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>