ion-header {
    height: 150px;
    background: linear-gradient(to right, #152620,#16201F,#151F20,#16201F,#141C1F,#161B1F,#151A1E);
  }
  ion-toolbar {
    --background: linear-gradient(to right, #152620,#16201F,#151F20,#16201F,#141C1F,#161B1F,#151A1E);
}

#button-header-play {
    color:green;
    font-size:18px;
    --background:white;
    --border-radius:15px;
    --padding-bottom:23px;
    --padding-top:23px;
    --padding-end:23px;
    --padding-start:23px;	
  }
  
  #button-header-help {
    color:white;
    font-size:18px;
    --border-radius:15px;
    --border-radius:15px;
    --padding-bottom:23px;
    --padding-top:23px;
    --padding-end:23px;
    --padding-start:23px;
  }