ion-content {
  --background: linear-gradient(90deg,#152620, #151A1E);
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-grid {
  height: 100% !important;
}
.parent-row {
  height: 100% !important;
  align-items: center !important;
  justify-content: center !important;
}

.matrix-container {
  vertical-align: middle;
}


.flip-card {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background: white;
  position: relative;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  display: inline-block;
  margin-left: 6px;
  border-radius: 8px;
  width: 17%;
  height: 47px;
}

.flip-card:first-child {
  margin-left: 0px;
}

.flip-card-clicked:first-child {
  margin-left: 0px;
}



  .flip-card-clicked {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: rotate(360deg);
    transition: transform 0.5s linear;
    position: relative;
    display: inline-block;
    margin-left: 6px;
    border-radius: 8px;
    text-align: center;
    width: 17%;
    height: 47px;
  }


  .red {
    background: red !important;
    color: white;
    font-size: 15px;
  }

  .spin{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }


  
.green {
    background: green !important;
    color: white;
    font-size: 15px;
  }




  .mine-value {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .row {
    width: 100%;
    display: block;
  }

  @media only screen and (min-width: 600px) {
    .flip-card {
    
      width: 90px;
      height: 90px;
    }
    .flip-card-clicked {
      
      width: 90px;
      height: 90px;
    }
    
  }

  @media only screen and (max-width: 600px) {
    
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {

    .flip-card {
      width: 30px;
      height: 30px;
    }
    .flip-card-clicked {
      
      width: 30px;
      height: 30px;
    }
    
  
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .flip-card {
    
      width: 40px;
      height:  40px;
    }
    .flip-card-clicked {
      
      width:  40px;
      height:  40px;
    }
    
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .flip-card {
      height: 60px;
    }
    .flip-card-clicked {
      height: 60px;
    }
}

@media only screen and (min-width: 1278px) {
  
  .flip-card {
    width: 55px;
    height: 55px;
  }
  .flip-card-clicked {
    width: 55px;
    height: 55px;
  }
}



