
<ion-content>
  <ion-grid *ngIf="game">
    <ion-row>
      <ion-col size-md="5" size="12" offset-md="2">
        <div *ngIf="game.matrix">
          <div *ngFor="let row of game.matrix;let indexRow = index"  class="row" >
            <div  class="col"  >
              <div class="flip-card" lines="none"  *ngFor="let col of row;let indexCol = index" [ngClass]='col.clicked ? "flip-card-clicked " + col.color : "flip-card" + col.color'>
                    <ion-text *ngIf="col.clicked && col.value != 0" class="mine-value">{{col.value}}</ion-text>
                    <div class="spin"><ion-icon *ngIf="col.clicked && col.value == 0" src="../../../../assets/imgs/bombe.svg"></ion-icon></div>
              </div>
            </div>
          </div>
          </div>
      </ion-col>
      <ion-col size-md="5" size="12">
        <app-log [colClick]='colClick' [game]='game' ></app-log>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
