ion-content {
  --background: linear-gradient(90deg,#152620, #151A1E);

}


.flip-card {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background: white;
  position: relative;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  display: inline-block;
  margin-left: 6px;
  border-radius: 8px;
  width: 17%;
  height: 47px;
}

.flip-card:first-child {
  margin-left: 0px;
}

.flip-card-clicked:first-child {
  margin-left: 0px;
}



  .flip-card-clicked {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: rotate(360deg);
    transition: transform 0.5s linear;
    position: relative;
    display: inline-block;
    margin-left: 6px;
    border-radius: 8px;
    text-align: center;
    width: 17%;
    height: 47px;
  }


  .red {
    background: red !important;
    color: white;
    font-size: 15px;
  }

  .spin{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }


  
.green {
    background: green !important;
    color: white;
    font-size: 15px;
  }

  ion-input {
    --background: gray;
    --color: white;
    text-align: center;
    --padding-bottom: 12px;
    --padding-end: 12px;
    --padding-start: 12px;
    --padding-top: 12px;
    border-radius: 5px;
    vertical-align: middle;
    margin-top: 4px;
    width: 100%;
  }


  .mine-value {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .row {
    width: 100%;
    display: block;
  }

