ion-content {
     --background: linear-gradient(90deg,#152620, #151A1E);
}


.password {
    vertical-align: middle;
    width: 100%;
    display: inline-block;
    margin-bottom: 15px;
  }

  .header {
      width: 100%;
      text-align: center;
      margin-top: 24px;
      margin-bottom: 15px;
      color:white;
  }

  .label-error {
      text-align: left;
      width: 100%;
      color: red;
  }


  ion-input {
    --background: gray;
    --color: white;
    text-align: center;
    --padding-bottom: 12px;
    --padding-end: 12px;
    --padding-start: 12px;
    --padding-top: 12px;
    border-radius: 5px;
    vertical-align: middle;
    margin-top: 4px;
    height: 50px;
  }

ion-input[type=number]::-webkit-inner-spin-button,
ion-input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
margin: 0;
}