<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" >
        <div class='header'>
          <ion-title>
            Enter New Password
          </ion-title>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="8" offset="2">
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()"> 
          <div  class="password">
            <ion-input formControlName="password" [disabled]='passwordChanged' placeHolder="Password"
            ></ion-input>
            <ion-label class="label-error" *ngIf="formErrors && formErrors.password">*{{formErrors.password}}</ion-label>
          </div>
          <div  class="password">
            <ion-input formControlName="confirmPassword" [disabled]='passwordChanged' placeHolder="Confirm Password"
            ></ion-input>
            <ion-label class="label-error" *ngIf="formErrors && formErrors.confirmPassword">*{{formErrors.confirmPassword}}</ion-label>
          </div>
        </form>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="3" size="6">
        <ion-button shape="round" expand="full" color="success" [disabled]="changePasswordForm.invalid && !passwordChanged" (click)="changePassword()">
          CHANGE PASSWORD
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>