.container {
  width: 100%;
  height: 100%;
  background-color: #283136;
}

.flip-card {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    --background: white;
    position: relative;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    display: inline-block;
    margin-left: 5px;
    width: 15px;
    height: 15px;
  }

  .main-div{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
  }


  
.flip-card-clicked {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: rotate(360deg);
    transition: transform 0.5s linear;
    position: relative;
    display: inline-block;
    margin-left: 5px;
    text-align: center;
    width: 15px;
    height: 15px;
  
  }


.red {
    --background: red !important;
    --color: white;
    font-size: 5px;
  }

  
.green {
    --background: green !important;
    --color: white;
    font-size: 5px;
  }



.header {
    width: 100%;
    color: white;
    text-align: left;
    --backgroud:#283136;
    --background-color:#283136;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}


  