.container {
  float:right;
  width:100%; 
  height: 45%;
  padding:3px; 
  background-color: #283136;
  text-align: center;
}

.flow {
  overflow:auto;
  height: 60%;
  width: 100%;
  max-height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background:#283136; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.flip-card {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    --background: white;
    position: relative;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    display: inline-block;
    margin-left: 5px;
    width: 13px;
    height: 13px;
  }

  .main-div{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
  }


  
.flip-card-clicked {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: rotate(360deg);
    transition: transform 0.5s linear;
    position: relative;
    display: inline-block;
    margin-left: 5px;
    text-align: center;
    width: 13px;
    height: 13px;
  
  }


.red {
    --background: red !important;
    --color: white;
    font-size: 5px;
  }

  
.green {
    --background: linear-gradient(270deg,#0EFB3E, #1CC050) !important;
    --color: white;
    font-size: 5px;
  }



.header {
    width: 100%;
    color: white;
    text-align: left;
    --backgroud:#283136;
    --background-color:#283136;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}


  