
.container {
  float: right;
  width: 100%;
  padding: 3px;
  background-color: #283136;
  text-align: center;
  border-radius: 15px;
}

.flow {
  overflow:auto;
  height: 60%;
  width: 100%;
  max-height: 60%;
  min-height: 60%;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background:#283136; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.flip-card {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    --background: white;
    position: relative;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    display: inline-block;
    margin-left: 5px;
    width: 13px;
    height: 13px;
  }

  .main-div{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
  }


  
.flip-card-clicked {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: rotate(360deg);
    transition: transform 0.5s linear;
    position: relative;
    display: inline-block;
    margin-left: 5px;
    text-align: center;
    width: 13px;
    height: 13px;
  
  }


.red {
    --background: red !important;
    --color: white;
    font-size: 5px;
  }

  
.green {
    --background: linear-gradient(270deg,#0EFB3E, #1CC050) !important;
    --color: white;
    font-size: 5px;
  }



.header {
    width: 100%;
    color: white;
    text-align: left;
    --backgroud:#283136;
    --background-color:#283136;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    height: 25%;
    min-height: 25%;
    max-height: 25%;
  }
  

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    height: 54%;
    min-height: 54%;
    max-height: 54%;
  }
  

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {

    height: 20%;
    min-height: 20%;
    max-height: 20%;
  }
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    height: 29%;
    min-height: 29%;
    max-height: 29%;
  }


  @media only screen and (min-width: 1278px) {
    .container {
      height: 51%;
      min-height: 44%;
      max-height: 44%;
    }
  
  }
}


  