  <div class="container">
  <div class="header">History</div>
  <div class="flow">
  <div *ngFor="let gameHistory of historyGames" class="main-div">
    <div *ngFor="let row of gameHistory.matrix;let indexRow = index"  >
      <div size="18" size-lg="12" offset-lg="4" >
        <ion-item class="flip-card" lines="none"  *ngFor="let col of row;let indexCol = index" [ngClass]='col.clicked ? "flip-card-clicked " + col.color : "flip-card" + col.color'>
              <ion-text *ngIf="col.clicked && col.value != 0" class="mine-value">{{col.value}}</ion-text>
              <ion-icon *ngIf="col.clicked && col.value == 0" src="../../../../assets/imgs/bombe.svg"></ion-icon>
              <ion-spinner name="bubbles" *ngIf="col.submitted"></ion-spinner>
        </ion-item>
      </div>
    </div>
    
    </div>
    <div *ngFor="let gameHistory of historyGames" class="main-div">
      <div *ngFor="let row of gameHistory.matrix;let indexRow = index"  >
        <div size="18" size-lg="12" offset-lg="4" >
          <ion-item class="flip-card" lines="none"  *ngFor="let col of row;let indexCol = index" [ngClass]='col.clicked ? "flip-card-clicked " + col.color : "flip-card" + col.color'>
                <ion-text *ngIf="col.clicked && col.value != 0" class="mine-value">{{col.value}}</ion-text>
                <ion-icon *ngIf="col.clicked && col.value == 0" src="../../../../assets/imgs/bombe.svg"></ion-icon>
                <ion-spinner name="bubbles" *ngIf="col.submitted"></ion-spinner>
          </ion-item>
        </div>
      </div>
    </div>
  </div>