#qr-code{
  text-align: center;
}

#title-address {
    text-align: center;
    color:white;
}

#address{
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    padding: 8px;
    display: inline-block;
    background-color: white;;
}

#or {
    color:white;
}
#address-info{
    text-align: left;
    display: inline-block;
}

#address-value{
    text-align: left;
    display: inline-block;
    margin-left: 3px;
    vertical-align: middle;
}
#address-copy{
    text-align: left;
    display: inline-block;
    margin-left: 3px;
    vertical-align: middle;
}

#button-copy{
    --background: transparent;
    --color: black;
    --box-shadow: 0px;
}

.handler-buttons {
    text-align: center;
    width: 50%;
    --padding-bottom: 25px;
    --padding-end: 25px;
    --padding-start: 25px;
    --padding-top: 25px;
}




ion-col {
    text-align: center;
}

ion-content {
--background: linear-gradient(90deg,#152620, #151A1E);
  background: linear-gradient(90deg,#152620, #151A1E);
}


::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:#283136; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }