#qr-code{
  text-align: center;
}

#title-address {
    text-align: center;
}

#address{
    text-align: center;
}

#address-info{
    text-align: center;
}

#address-value{
    text-align: center;
}

ion-col {
    text-align: center;
}