<app-app-header></app-app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div id="title-address">
          Send to this address
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div id="qr-code">
          <ngx-qrcode [elementType]="elementType" [value] = "value">
          </ngx-qrcode>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        OR
      </ion-col>
      <ion-col size="12">
        <div id="address">
          <div id="address-info">Address </div>
          <div id="address-value">{{value}}</div>
          <div id="address-copy"><ion-button ngxClipboard [cbContent]='value' id="button-copy" (click)="presentToast()"><ion-icon name="copy-outline"></ion-icon></ion-button></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
  
  
</ion-content>
