#qr-code{
  text-align: center;
}

#title-address {
    text-align: center;
    color:white;
}

#address{
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    padding: 8px;
    display: inline-block;
    background-color: white;;
}

#or {
    color:white;
}
#address-info{
    text-align: left;
    display: inline-block;
}

#address-value{
    text-align: left;
    display: inline-block;
    margin-left: 3px;
    vertical-align: middle;
}
#address-copy{
    text-align: left;
    display: inline-block;
    margin-left: 3px;
    vertical-align: middle;
}

#button-copy{
    --background: transparent;
    --color: black;
    --box-shadow: 0px;
}

ion-header {
    height: 80px;
    color:white;
  }
  ion-toolbar {
    color:white;
  }

ion-col {
    text-align: center;
}

.background {
--background: linear-gradient(90deg,#152620, #151A1E);
  background: linear-gradient(90deg,#152620, #151A1E);
}