
.red {
  --background: red !important;
  --color: white;
}

.green {
  --background: green !important;
  --color: white;
}



.flip-card {
  --background:white;
  --border-radius:15px;
  height: 50px;
  perspective: 1000px;
  position: relative;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transform: rotateY(180deg);
  display: inline-block;
  width: 15%;
  --border-color:gray;
  --border-style:solid;
  --border-width:1px;
  margin-left: 5px;
}

.flip-card-clicked {
  transform: rotate(360deg);
  transition: transform 0.5s linear;
  display: inline-block;
  width: 15%;
  --border-radius:15px;
  margin-left: 5px;

}

.header-item {
  --border-radius:15px;
  --background:gray;
  --inner-padding-bottom:15px;
  --inner-padding-end:15px;
  --inner-padding-start:15px;
  --inner-padding-top	:15px;
}

.mines-number {
  padding: 5px;
  text-align: center;
}

.segment {
  border-radius:15px;
  --background:gray;
  width: 100%;
  --background:gray;
}
.segment-button {
  min-width: 25%;
  --background:gray;
    --background-checked: transparent;
    --background-focused: transparent;
    --background-focused-opacity: 0;
    text-align: center;
  --color-checked:white;
  --color-focused	:white;
  --color-hover:red;
  --color:white;
  --indicator-box-shadow:none;
  --indicator-color	:transparent;
}

.segment-button-checked .mines-number {
  background-color: red;
  border-radius: 50%;
  width: 25px;
}

.segment-header {
  color:white;
  margin-left: 15px;
  font-size: 15px;
}

.first-col {
  background-color: gray;
  border-radius: 15px;
}

.balance {
  --background:gray;
  text-align: center;
  width: 100%;
  height: 100%;
}

.balance ion-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 20px;
}




