


.button {
  --padding-bottom:23px;
  --padding-top:23px;
  --padding-end:23px;
  --padding-start:23px;	
}

.col-1 {
  padding-right: 4px;
}

.col {
  padding-left:0px;
  padding-right: 0px;
}



.lose-game {
  --background: linear-gradient(90deg,#524e4e, red);
  background: linear-gradient(90deg,#524e4e, red);
}
.success-cel {
  --background: linear-gradient(90deg,#152620, #151A1E);
  background: linear-gradient(90deg,#152620, #151A1E);

}
.click-cel {
  --background: linear-gradient(90deg,#524e4e, #151A1E);
  background: linear-gradient(90deg,#524e4e, #151A1E);

}
.header-item {
  --border-radius:15px;
  --background:gray;
  --inner-padding-bottom:15px;
  --inner-padding-end:15px;
  --inner-padding-start:15px;
  --inner-padding-top	:15px;
}
.mines-number {
  padding: 5px;
  text-align: center;
}

.segment {
  border-radius:15px;
  --background:gray;
  width: 100%;
  --background:gray;
}
.segment-button {
  min-width: 25%;
  --background:gray;
    --background-checked: transparent;
    --background-focused: transparent;
    --background-focused-opacity: 0;
    text-align: center;
  --color-checked:white;
  --color-focused	:white;
  --color-hover:red;
  --color:white;
  --indicator-box-shadow:none;
  --indicator-color	:transparent;
  font-size:13px;
  --padding-bottom:0px;
  --padding-end	:0px;
  --padding-start	:0px;
  --padding-top	:0px;
}

.segment-button-checked .mines-number {
  background-color: red;
  border-radius: 50%;
  width: 25px;
}

.segment-header {
  color:white;
  margin-left: 15px;
  font-size: 12px;
}

.first-col {
  background-color: gray;
  border-radius: 15px;
  margin-bottom: 5px;
}

.balance {
  --background:gray;
  text-align: center;
  width: 100%;
  height: 100%;
}

.balance ion-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 20px;
}

.chip {
  --background:transparent;
  --color:red;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.chip ion-icon {
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  text-emphasis: center;
}



.button-play{
  --padding-bottom:20px;
  --padding-end	:20px;
  --padding-start	:20px;
  --padding-top	:20px;
  font-size: 15px;
  --border-radius: 10px;
  text-align: center;
  width: 100%;
  margin-left: -5px;
  --background: linear-gradient(270deg,#0EFB3E, #1CC050);
  --color:white;
  height: 50px;
}

.cashout{
  --background: white;
  --color:black;
}

.information-div {
  background-color: #283136;
  color:white;
  text-align: left;
  height: 100%;
  border-radius: 15px;
}

.row-information{
  min-height: 60px;
  max-height: 60px;
  height: 60px;
  
}


.row-matrix {
  max-height: 30%;
  min-height: 30%;
  height: 30%;
}

.title-div-information {
  text-align: left;
  margin-left: 5px;
  
}

.content-div-information{
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  .row-games{
    min-height: 21%;
    max-height: 21%;
    height: 21%;
  }
  
  .row-log {
    min-height: 25%;
    max-height: 25%;
  }
  ion-buttons {
    display: none;
  }
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .row-games{
    min-height: 21%;
    max-height: 21%;
    height: 21%;
  }
  
  .row-log {
    min-height: 25%;
    max-height: 25%;
  }
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    display: none;
  }
  
  .topnav a:hover {
    display: none;

  }
  
  
  .topnav a.active {
    display: none;

  }
  
  .topnav .icon {
    display: none;
  }
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .row-games{
    min-height: 27%;
    max-height: 27%;
    height: 27%;
  }
  
  .row-log {
    min-height: 25%;
    max-height: 25%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .row-games{
    min-height: 135px;
    max-height: 135px;
    height: 135px;
  }
  
  .row-log {
    min-height: 24%;
    max-height: 24%;
    height: 26%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .row-games{
    min-height: 20%;
    max-height: 20%;
    height: 20%;
  }
  
  .row-log {
    min-height: 13%;
    max-height: 13%;
    height: 13%;
  }
}

@media only screen and (min-width: 1278px) {
  .row-games{
    min-height: 25%;
    max-height: 25%;
    height: 25%;
  }
  
  .row-log {
    min-height: 13%;
    max-height: 13%;
    height: 16%;
  }
}




.changePassword .modal-wrapper {
  height: 40%;
  top : 60%;
  width: 100%;
  position: absolute;
  display: block;
}


ion-header {
  height: 150px;
  color:white;
}
ion-toolbar {
  color:white;
}

#button-header-play {
  --color:green;
  font-size:18px;
  --background:white;
  --background-color:white;
  --border-radius:15px;
  --padding-bottom:23px;
  --padding-top:23px;
  --padding-end:23px;
  --padding-start:23px;	
  width: 200px;
  height: 50px;
  margin-top: 30px;
  text-shadow: -2px -2px 12px rgba(0, 0, 0, 1);
}

#button-header-secure {
  color:black;
  font-size:18px;
  --background:white;
  --border-radius:15px;
  --border-radius:15px;
  --padding-bottom:23px;
  --padding-top:23px;
  --padding-end:23px;
  --padding-start:23px;
  height: 50px;
  margin-top: 30px;
}

#button-header-help {
  color:white;
  font-size:18px;
  --border-radius:15px;
  --border-radius:15px;
  --padding-bottom:23px;
  --padding-top:23px;
  --padding-end:23px;
  --padding-start:23px;
  height: 50px;
  margin-top: 30px;
}



@media screen and (max-width: 600px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background:#283136; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}











