

ion-buttons {
  margin-right: 15%;
}
.button {
  --padding-bottom:23px;
  --padding-top:23px;
  --padding-end:23px;
  --padding-start:23px;	
}

ion-grid {
}




ion-content {
  
  --background: linear-gradient(to right, #152620,#16201F,#151F20,#16201F,#141C1F,#161B1F,#151A1E);;
  position: relative;
}
.header-item {
  --border-radius:15px;
  --background:gray;
  --inner-padding-bottom:15px;
  --inner-padding-end:15px;
  --inner-padding-start:15px;
  --inner-padding-top	:15px;
}
.mines-number {
  padding: 5px;
  text-align: center;
}

.segment {
  border-radius:15px;
  --background:gray;
  width: 100%;
  --background:gray;
}
.segment-button {
  min-width: 25%;
  --background:gray;
    --background-checked: transparent;
    --background-focused: transparent;
    --background-focused-opacity: 0;
    text-align: center;
  --color-checked:white;
  --color-focused	:white;
  --color-hover:red;
  --color:white;
  --indicator-box-shadow:none;
  --indicator-color	:transparent;
  font-size:13px;
  --padding-bottom:0px;
  --padding-end	:0px;
  --padding-start	:0px;
  --padding-top	:0px;
}

.segment-button-checked .mines-number {
  background-color: red;
  border-radius: 50%;
  width: 25px;
}

.segment-header {
  color:white;
  margin-left: 15px;
  font-size: 12px;
}

.first-col {
  background-color: gray;
  border-radius: 15px;
  margin-bottom: 5px;
}

.balance {
  --background:gray;
  text-align: center;
  width: 100%;
  height: 100%;
}

.balance ion-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 20px;
}

.chip {
  --background:transparent;
  --color:red;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.chip ion-icon {
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  text-emphasis: center;
}



.button-play{
  --padding-bottom:20px;
  --padding-end	:20px;
  --padding-start	:20px;
  --padding-top	:20px;
  font-size: 15px;
  --border-radius: 10px;
  text-align: center;
  width: 100%;
  margin-left: -5px;
  --background: linear-gradient(270deg,#0EFB3E, #1CC050);
  --color:white;
  height: 50px;
}

.cashout{
  --background: white;
  --color:black;
}

.information-div {
  background-color: #283136;
  color:white;
  text-align: left;
  height: 100%;
  border-radius: 15px;
}

.row-information{
  min-height: 60px;
  max-height: 60px;
  height: 60px;
  
}


.row-matrix {
  max-height: 30%;
  min-height: 30%;
  height: 30%;
}

.title-div-information {
  text-align: left;
  margin-left: 5px;
  
}

.content-div-information{
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  .row-games{
    min-height: 21%;
    max-height: 21%;
    height: 21%;
  }
  
  .row-log {
    min-height: 25%;
    max-height: 25%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .row-games{
    min-height: 21%;
    max-height: 21%;
    height: 21%;
  }
  
  .row-log {
    min-height: 25%;
    max-height: 25%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .row-games{
    min-height: 27%;
    max-height: 27%;
    height: 27%;
  }
  
  .row-log {
    min-height: 25%;
    max-height: 25%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .row-games{
    min-height: 135px;
    max-height: 135px;
    height: 135px;
  }
  
  .row-log {
    min-height: 24%;
    max-height: 24%;
    height: 26%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .row-games{
    min-height: 20%;
    max-height: 20%;
    height: 20%;
  }
  
  .row-log {
    min-height: 13%;
    max-height: 13%;
    height: 13%;
  }
}

@media only screen and (min-width: 1278px) {
  .row-games{
    min-height: 25%;
    max-height: 25%;
    height: 25%;
  }
  
  .row-log {
    min-height: 13%;
    max-height: 13%;
    height: 16%;
  }
}











