<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mines
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row *ngFor="let row of map;let indexRow = index">
      <ion-col  size="2" size-md="1" *ngFor="let col of row;let indexCol = index"  >
        <ion-item lines="none" class="flip-card" [ngClass]='col.clicked ? "flip-card-clicked " + col.color : "flip-card" + col.color' (click)="clickCol(col)">
              <ion-text *ngIf="col.clicked">{{col.value}}</ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
