

ion-buttons {
  margin-right: 15%;
}




.button {
  --padding-bottom:23px;
  --padding-top:23px;
  --padding-end:23px;
  --padding-start:23px;	
}


ion-content {
  
  --background: linear-gradient(to right, #152620,#16201F,#151F20,#16201F,#141C1F,#161B1F,#151A1E);;
  position: relative;
}

.history-game {
  background-color: #283136;
  min-height: 300px;
}












.header-item {
  --border-radius:15px;
  --background:gray;
  --inner-padding-bottom:15px;
  --inner-padding-end:15px;
  --inner-padding-start:15px;
  --inner-padding-top	:15px;
}



.mines-number {
  padding: 5px;
  text-align: center;
}

.segment {
  border-radius:15px;
  --background:gray;
  width: 100%;
  --background:gray;
}
.segment-button {
  min-width: 25%;
  --background:gray;
    --background-checked: transparent;
    --background-focused: transparent;
    --background-focused-opacity: 0;
    text-align: center;
  --color-checked:white;
  --color-focused	:white;
  --color-hover:red;
  --color:white;
  --indicator-box-shadow:none;
  --indicator-color	:transparent;
  font-size:13px;
  --padding-bottom:0px;
  --padding-end	:0px;
  --padding-start	:0px;
  --padding-top	:0px;
}

.segment-button-checked .mines-number {
  background-color: red;
  border-radius: 50%;
  width: 25px;
}

.segment-header {
  color:white;
  margin-left: 15px;
  font-size: 12px;
}

.first-col {
  background-color: gray;
  border-radius: 15px;
  margin-bottom: 5px;
}

.balance {
  --background:gray;
  text-align: center;
  width: 100%;
  height: 100%;
}

.balance ion-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 20px;
}

.chip {
  --background:transparent;
  --color:red;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.chip ion-icon {
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  text-emphasis: center;
}



.button-play{
  --padding-bottom:20px;
  --padding-end	:20px;
  --padding-start	:20px;
  --padding-top	:20px;
  font-size: 15px;
  --border-radius: 10px;
  text-align: center;
  width: 100%;
  margin-left: -5px;
  --background: linear-gradient(270deg,#0EFB3E, #1CC050);
  --color:white;
}

.cashout{
  --background: white;
  --color:black;
  margin-left: 4px !important;
}











