<ion-content [fullscreen]="true" [ngClass]="celClicked" appScrollbar>
  <ion-header [translucent]="true" class="ion-no-border" [ngClass]="celClicked">
    <ion-toolbar [ngClass]="celClicked">
      <ion-title slot="start">
        BitExplode Home
      </ion-title>
      <ion-buttons slot="end">
        <ion-button  id="button-header-play" size="large">
          Play   
        </ion-button>
        <ion-button   id="button-header-secure" size="large" *ngIf="gameHash && !gameHash.passwordChange" (click)='callChangePassword()'>
          Secure Game
        </ion-button>
        <ion-button   id="button-header-help" size="large"  (click)='callChangePassword()'>
          Help
        </ion-button>
      </ion-buttons>
      <div class="topnav" id="myTopnav">
        <a >Play </a>
        <a *ngIf="gameHash && !gameHash.passwordChange" (click)='callChangePassword()'>Secure Game</a>
        <a>Help</a>
        <a href="javascript:void(0);" class="icon" (click)="display()">
          <ion-icon name="menu"></ion-icon>
        </a>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="ion-align-items-center" *ngIf="validRoute">
          <ion-row class="ion-align-self-center" >
                <ion-col size="12" size-md="7" size-lg="2" offset-lg="3" class="first-col">
                  <ion-text class="segment-header">Bombs</ion-text>
                  <ion-segment class="segment" value="1" (ionChange)="segmentChanged($event)" [disabled]='game && game.playing || submmited'>
                    <ion-segment-button class="segment-button" value="1">
                      <ion-text class="mines-number">1</ion-text>
                    </ion-segment-button>
                    <ion-segment-button class="segment-button" value="3">
                      <ion-text class="mines-number">3</ion-text>
                    </ion-segment-button>
                    <ion-segment-button class="segment-button" value="5">
                      <ion-text class="mines-number">5</ion-text>
                    </ion-segment-button>
                    <ion-segment-button class="segment-button" value="24">
                      <ion-text class="mines-number">24</ion-text>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
                <ion-col size="0" size-lg="1" class="ion-hide-lg-down">
                  <ion-chip lines="none" class="chip">
                    <ion-icon src="../../assets/imgs/bombe.svg"></ion-icon>
                  </ion-chip>
                </ion-col>
                <ion-col size="12" size-md="5" size-lg="4" class="first-col">
                  <app-balance *ngIf='gameHash' [deposits]='gameHash.address.deposits'></app-balance>
                </ion-col>

          </ion-row>
          <ion-row >
            <ion-col size="12" offset-md="3" size-md="6" size-lg="3" offset-lg="3"  class="row-matrix">
                <app-matrix  [game]="game" [validRoute]='validRoute' (nextValue)='nextValue($event)'
                  (isValid)="isValid($event)" (newGame)="newGame($event)" (colClick)="colClicked($event)" (clickCel)="celClick($event)" (callLogin)="callLogin()"></app-matrix>
                <ion-row>
                  <ion-col size="6" >
                    <ion-button class="button-play" expand="full" [disabled]="(game && (game.playing || submmited)) && valid" (click)="play()" >
                      <ion-text *ngIf="!submmited">Play</ion-text>
                      <ion-spinner name="bubbles" *ngIf="submmited"></ion-spinner>
                    </ion-button>
                  </ion-col>
                  <ion-col size="6">
                    <ion-button class="button-play cashout" expand="full" [disabled]="game && (game.playing || submmited)" >
                      <ion-text *ngIf="!submmited">Cashout</ion-text>
                    </ion-button>
                  </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="12" size-md="12" size-lg="6">
                <ion-row>
                  <ion-col size="6" offset-md="3" size-md="3" offset-lg="0" size-lg="4">
                    <ion-button  expand="full" color="warning" size="medium" class="button">
                      Withdraw
                    </ion-button>
                  </ion-col>
                  <ion-col size="6" size-md="3" size-lg="4">
                    <ion-button  expand="full" size="medium" color="light" class="button" (click)="deposit()">
                      Deposit
                    </ion-button>
                  </ion-col>
                </ion-row>
                <ion-row class="row-information ion-hide-md-down ion-hide-lg-up" >
                  <ion-col size="6" offset-md="3" size-md="3">
                    <div class="information-div">
                      <ion-text class="title-div-information">
                        Next
                      </ion-text>
                      <div class="content-div-information" *ngIf="game">
                        {{next}}
                    </div>
                    </div>
                  </ion-col>
                  <ion-col size="6" size-md="3">
                    <div class="information-div">
                      <ion-text class="title-div-information">
                        Stake
                      </ion-text>   
                      <div class="content-div-information" *ngIf="game">
                        {{game.stake}}
                    </div>                 
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row class="row-games">
                  <ion-col size="12" size-lg="8" >
                    <app-history-games></app-history-games>
                  </ion-col>
                </ion-row>
                <ion-row class="row-log" *ngIf='game'>
                  <ion-col size="12" size-lg="8" >
                    <app-log [game]='game' [colClick]="colClick"></app-log>
                  </ion-col>
                </ion-row>
                <ion-row class="row-information ion-hide-lg-down" >
                  <ion-col size="6" size-md="4">
                    <div class="information-div">
                      <ion-text class="title-div-information">
                        Next
                      </ion-text>
                      <div class="content-div-information" *ngIf="game">
                        {{next}}
                    </div>
                    </div>
                  </ion-col>
                  <ion-col size="6" size-md="4">
                    <div class="information-div">
                      <ion-text class="title-div-information">
                        Stake
                      </ion-text>
                      <div class="content-div-information" *ngIf="game">
                          {{game.stake}}
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
            </ion-col>
          </ion-row>

        </ion-grid>

  <ion-grid *ngIf="!validRoute">
    <ion-row>
      <ion-col size="4" offset="3">
        <ion-button shape="round" expand="full" size="large" color="success" class="button" (click)="generateHash()">
          Generate A hash
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>